.main {
    padding: 10px;
}


@media (min-width: 800px) {
    .main {
        position: fixed;
    }
}


@media (max-width: 420px) {
    .main {
        overflow-y: scroll;
        height: 100%;
        width: 100vw;
        position: relative;
    }
}